<launch>
<node pkg="quality_inspection" name="testdataPublisherInPC" type="testdataPublisherInPC" output="screen" launch-prefix="gnome-terminal --command"/>
<node pkg="quality_inspection" name="scanProcessingNode" type="scanProcessingNode" output="screen" launch-prefix="gnome-terminal --command"/>
<node pkg="quality_inspection" name="projectionsNode" type="projectionsNode" output="screen" launch-prefix="gnome-terminal --command"/>
</launch>

<?ignore
launch-prefix="gnome-terminal --command"
?>
